html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, Helvetica Neue, Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

a {
  color: #746f80;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.home-page {
  width: 100vw;
  height: 100vh;
}

.home-page--content {
  /* Positioning within page */
  height: 400px;
  width: 400px;
  max-width: calc(90% - 2rem);
  max-height: calc(90% - 2rem);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* Positioning of children */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 400px;

  /* Styling */
  border: 1px solid black;
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}

.animation {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
}

.accent-one {
  position: fixed;
  z-index: -1;
  top: -20vw;
  right: -20vw;
  width: 40vw;
  height: 40vw;
  border-radius: 20vw;
  background-color: #e8ddff;
  border: 1px solid black;
}
