html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, Helvetica Neue, Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

a {
  color: #746f80;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.home-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-page--content {
  border: 1px solid black;
  padding: 2rem;
  border-radius: 0.5rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 400px;
}
